<z-card class="h-full ">
    <section class="w-full flex items-center justify-evenly mt-2">
        <article class="min-w-2/3">
            <label class="text-sm text-muted-foreground">{{ label }}</label>
            <h1 class="text-2xl font-semibold">{{ data }}</h1>
        </article>
        <div class="p-4 bg-accent rounded-full">
            @if (icon) {
                <z-icon [zType]="icon"  class="text-2xl w-6 h-6 text-primary" [zSize]="'xl'" />
            }
        </div>
        
    </section>
    <div class="flex justify-start w-full gap-1.5 mt-4 text-sm">
            <span [class]="statusData?.status == 'positive' ? 'text-green-600' : statusData?.status == 'negative' ? 'text-red-500' : 'text-muted-foreground' ">{{statusData?.data}}</span>
            <span>{{statusData?.details}}</span>
    </div>
</z-card>
